#bottom {
	
	height: auto;
	width: auto;
}

/*leftmenu start*/
#menu {
	height: 600px;
	width: 500px;
	float: left;
}
ul.accordion,
ol.accordion {
margin: 				100;
padding: 				10;
}
.accordion li {
list-style-type: 		none;
margin: 				0;
padding: 				0;
}
.accordion li:after {
content: 				".";
display: 				block;
height: 				0;
clear: 					both;
visibility: 			hidden;
*zoom: 					1;
}
.accordion li li {
list-style-type: 		disc;
margin-left: 			1em;
}
.accordion a {
color: 					inherit;
text-decoration: 		inherit;
}
.accordion .loading {
display: 				none;
}
.loading {
display: 				none;
}
.accordion {
border: 				1px solid #ccc;
width:  		50%;
border-radius : 	25px;
}
.accordion li h3 a {
background:             #0099CC;
background:             #0099CC -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#0099CC)) no-repeat;
background:             #0099CC -moz-linear-gradient(top,  #ccc,  #0099CC) no-repeat;

border-bottom:          1px solid #333;
border-top:             1px solid #ccc;

border-radius : 		25px;
color:                  #fff;/*Yazı Rengi*/
display:                block;
font-style:             normal;
margin:                 0;
padding:                5px 10px;
text-shadow:            0 -1px 2px #333, #ccc 0 1px 2px;
}
.accordion li.active h3 a {
background:             #0099CC;
background:             #0099CC -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#0099CC)) no-repeat;
background:             #0099CC -moz-linear-gradient(top,  #ccc,  #0099CC) no-repeat;
border-bottom:          1px solid #036;
border-top:             1px solid #9cf;
text-shadow:            0 -1px 2px #036, #9cf 0 1px 2px;
}
.accordion li.locked h3 a {
background:             #963;
background:             #963 -webkit-gradient(linear, left top, left bottom, from(#c96), to(#963)) no-repeat;
background:             #963 -moz-linear-gradient(top,  #c96,  #963) no-repeat;
border-bottom:          1px solid #630;
border-top:             1px solid #fc9;
text-shadow:            0 -1px 2px #630, #fc9 0 1px 2px;
}
.accordion li h3 {
margin:         		0;
padding:        		0;
}
.accordion .panel {
padding:        		10px;
}    
/*leftmenu end*/

/*footer start*/
#footer {
	height: 100px;
	width: auto;
}
/*footer end*/